<div class="shopping-cart secured">
  <h3>Current Items</h3>
  {{#each cart.items as |item|}}
  <div class="item">
    <div class="product-name col-6">{{item.name}}</div>
    <div class="item-cost col-3">{{item.price}}</div>
    <button class="btn btn-outline-danger col-3 remove-item" data-id="{{item._id}}">Remove</button>
  </div>
{{/each}}
  <div class="total-cost"></div>
</div>
