<div class="purchase-history">
{{#each purchases as |purchase|}}
  <section class="order" data-id="{{purchase._id}}">
    Order Date: <span class="order-date">{{purchase.updatedAt}}</span>
    <button class="btn btn-outline-default view-details">Details</button>
    <div class="order-detail">
      <header>Items</header>
      <ol class="items">
      {{#each purchase.items as |item|}}
        <li class="item">{{item.name}}
          <span class="price">{{item.price}}</span>
        </li>
      {{/each}}
      </ol>
    </div>
    <div class="total">Total:
      <span class="price"></span>
    </div>
  </section>
{{/each}}
</div>
