
.purchase-history {
  border: thin inset gray;
  border-radius: 3px;
  padding: 2px;

  .order {
    border-top: thin #333 solid;
    border-bottom: thin #333 solid;
    padding: 1rem;

    .order-date {

    }

    .order-detail {
      display: block;
      margin: 0 1em;
    }

    .total {
      text-align: right;
      margin-right: 1em;
    }


  }

}

span.price::before {
  content: '$';
}

button.close-clear {
  text-align: center;
  margin: 2px auto;
}
