@import '~bootstrap/scss/bootstrap';
@import 'products.scss';
@import 'history.scss';
@import 'cart.scss';

.main {
  margin-top: 30px;
}

.navbar {
  height: 50px;

  > .nav-item {
    height: 100%;
    width: 30%;
  }
}

#nav-dropdown {
  height: 100%;
  width: 100%;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 2px auto;
}

#logo-bar {
  cursor: default;
  background-color: #c00;
}
#logo-bar.logged-in {
  background-color: #0c0;
}
