
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-wrapper {
  margin: 15px auto;

}

.product {
  border: thin outset gray;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 350px;
  padding-bottom: 5px;

  .thumbnail {
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    opacity: 1;
  }

  .caption {
    margin: 2px auto;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    text-align: center;
  }

  .price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: right;
    .item-price::before {
      content: '$';
    }
  }

  .add-item {
    text-align: center;
    button {
      margin: 1px auto;
    }
  }

  &.added {
    border: thin inset black;

    .thumbnail {
      opacity: 0.4;
    }
    .caption {
      background-color: #999;
    }
    .add-item button {
      visibility: hidden;
    }
  }
}
